body {
  font-family: "Noto Sans KR", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
body li {
  list-style: none;
}
body h2 {
  font-family: "Noto Sans KR";
  color: #333333;
  font-size: 2rem;
  font-weight: 600;
}