#hd .lnb .searchIcon {
  font-size: 1.3rem;
  line-height: 1.1;
}
#hd .lnb .personIcon {
  font-size: 1.6rem;
  line-height: 0;
}

#quik {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
}
#quik #quikBtn {
  transform: translateY(0.9rem);
  z-index: 1;
}
#quik #quikBtn img {
  height: 5rem;
}
#quik #quikMenu {
  background: #3D71FF;
  border-radius: 0 0 3rem 3rem;
}
#quik #quikMenu::before {
  content: "";
  display: block;
  background: #3D71FF;
  height: 0.5rem;
}
#quik #quikMenu .qIcon {
  background: #6A92FE;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1882352941);
  line-height: 1;
}
#quik #quikMenu .qIcon a {
  font-size: 1.7rem;
  color: #fff;
}
#quik .top_btn {
  background: #eee;
  padding: 0.7rem;
  border-radius: 50%;
  margin-top: 1rem;
  box-shadow: 3px 3px 3px #aaa;
  line-height: 1;
}
#quik .top_btn a {
  font-size: 2rem;
  color: #666;
}

#ft .ft-icon li {
  background: #ddd;
  font-size: 1.7rem;
  line-height: 1;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
#ft .ft-icon li a {
  color: #999;
}