@charset "UTF-8";
#jeMainswiper {
  background-color: #F7F8FA;
  height: 700px;
}
#jeMainswiper .mainbannerLeft {
  padding: 160px 50px 84px 85px;
}
#jeMainswiper .mainbanner_Video, #jeMainswiper .maincollabo {
  position: relative;
  border-radius: 350px 0 0 0;
  border: none;
  right: 0;
  bottom: 0;
}
#jeMainswiper .maincollabo_Box {
  right: auto;
}
#jeMainswiper .main_back {
  background-image: url(//hyunjiq.github.io/petopia/img/img_je/main_dog.jpg);
  border-radius: 350px 0 0 0;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#jeMainswiper .mainbannerText_en {
  font-family: Quicksand;
  line-height: 70px;
  color: #3D71FF;
  font-weight: bold;
  font-size: 65px;
}
#jeMainswiper .mainbannerText_kr {
  font-family: NotoSansKR;
  line-height: 23px;
  color: #3D71FF;
  font-size: 20px;
}
#jeMainswiper .mainbannerText {
  font-family: NotoSansKR;
  line-height: 51px;
  font-weight: bold;
  color: #3D71FF;
  font-size: 48px;
}
#jeMainswiper .mainActing, #jeMainswiper .mainvideo {
  text-decoration: none;
  color: white;
  background-color: #6A92FE;
  border-radius: 30px;
  padding: 1rem;
  width: 212px;
  height: 58px;
}
#jeMainswiper .mainbanner_text {
  font-family: NotoSansKR;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

#social_program #jeSwiper {
  border-radius: 12px;
  margin-right: 20px;
  height: 346px;
  margin-bottom: 180px;
}
#social_program #jeSwiper .sp_text {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: white;
  font-size: 30px;
}
#social_program #jeSwiper .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 검정색에 투명도 조절 */
}
#social_program #jeSwiper .swiper-button-next,
#social_program #jeSwiper .swiper-button-prev {
  position: absolute;
  color: white;
  margin-top: 120px;
}
#social_program #jeSwiper .swiper-button-prev {
  left: 590px;
}
#social_program #jeSwiper .swiper-button-next::after,
#social_program #jeSwiper .swiper-button-prev::after {
  font-size: 2rem;
}

.box {
  border-radius: 12px;
  background-color: #B5C9FF;
  padding: 8px 0;
  margin-bottom: 13px;
}

.spNews {
  list-style: none;
}

.libox {
  height: 60px;
  margin-bottom: 13px;
  background-color: #F7F8FA;
  border-radius: 12px;
  padding-right: 10px;
}
.libox .sp-text {
  font-size: 10px;
}
.libox .sp-style:hover {
  text-decoration: underline;
}

#form_tag {
  max-width: 1920px;
  height: 868px;
  background-color: #D3DFFF;
}
#form_tag .form_img {
  position: relative;
  border-radius: 30px;
  border: none;
  width: 100%;
}
#form_tag .form_text {
  text-align: center;
}

#app_download {
  position: relative;
  background-color: #6A92FE;
  padding: 3.7rem 0;
  background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_animal.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#app_download #jeAppbanner .app_come {
  font-weight: bold;
  font-size: 38px;
}
#app_download #jeAppbanner .app_come_first {
  font-size: 28px;
}
#app_download #jeAppbanner .app_down {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 300px;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
#app_download:before {
  content: "";
  position: absolute;
  left: 0;
  width: 300px;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
}
#app_download:after {
  content: "";
  position: absolute;
  right: 0px;
  width: 300px;
  top: 0;
  bottom: 0px;
  background-size: 400px 300px;
  background-repeat: no-repeat;
  background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
  transform: scaleX(-1);
}