#main_slide_sh .swiper {
  width: 100%;
  height: 100%;
}
#main_slide_sh .swiper .swiper-slide {
  text-align: center;
  font-size: 3rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_slide_sh .swiper .swiper-slide img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main_slide_sh .swiper .swiper-slide .slide_txt {
  line-height: 1;
  font-size: 4rem;
  text-align: start;
}
#main_slide_sh .swiper .slide_txt_sm {
  line-height: 1;
  font-size: 1.3rem;
  text-align: start;
}

#main_service li:hover span {
  background-color: #2e313b;
}
#main_service img {
  border-radius: 12px 12px 0 0;
}
#main_service .ms_div {
  text-align: center;
  color: white;
  background-color: #6a92fe;
  padding: 3rem;
  display: block;
  border-radius: 0 0 12px 12px;
}