#hd{
    z-index: 100;
    h1{
        img{
            height: 2rem;
        }
    }
    .d1{
        &:hover{
            &:before{
                content: "";
                background-color: #fffffff0;
                border-top: 1px solid #6A92FE;
                position: absolute;
                top: 100%;
                left: 0; right: 0;
                height: 205px;
            }
            .d1_li{ 
                &:hover{
                    .d1_a{color: #6A92FE;}
                }
                .d2{
                    .d2_li{
                        &:hover{
                            a{
                                color:#6A92FE;
                            }
                        }                        
                    }                    
                    padding: 1rem 0; 
                    max-height: 205px;                                       
                }
            }
        }   
        &:before{
            content: "";
            position: absolute;
            top: 100%;
            left: 0; right: 0;
            height: 0px;
            overflow: hidden;
            transition: .5s;
            border-top: 1px solid transparent;
        }
        .d1_li{
            padding:1rem 2rem;           
            .d1_a{
                font-size: 1.4rem;
            }
            .d2{
                top:100%;
                transform: translateX(-50%);
                left: 50%;
                max-height: 0;
                overflow: hidden;
                transition: .5s;
                .d2_li{
                    white-space: nowrap;
                    text-align: center;
                    margin: 0.5rem 0;
                    letter-spacing: 0.085rem;
                    a{
                        font-size: 1.05rem;
                    }
                }
            }
        }
    }
    .lnb{
        .searchIcon{
            font-size: 1.3rem;
            line-height: 1.1;
        }
        .personIcon{
            font-size: 1.6rem;
            line-height: 0;
        }
    }
}
#quik{
    position: fixed;
    z-index: 100;
    bottom: 2rem;
    right: 1rem;   
    #quikBtn{
        transform: translateY(.9rem);
        z-index: 1;        
        img{
            height: 5rem;
        }
    }
    #quikMenu{
        &::before{
            content: "";
            display: block;
            background: #3D71FF;
            height: .5rem;
        }
        background: #3D71FF;
        border-radius: 0 0 3rem 3rem;
        .qIcon{
            background: #6A92FE;
            border-radius: 50%;
            box-shadow: 3px 3px 3px #00000030;
            line-height: 1;
            a{
                font-size: 1.7rem;
                color: #fff;                
            }
        }
    }
    .top_btn{
        background: #eee; 
        padding: 0.7rem; 
        border-radius: 50%; 
        margin-top: 1rem; 
        box-shadow: 3px 3px 3px #aaa;
        line-height: 1;
        a{font-size: 2rem; color: #666;}
    }

}
#ft{
    .ft-icon{
        li{
            background: #ddd;
            font-size: 1.7rem;
            line-height: 1;
            border-radius: .5rem;
            padding: .3rem;
            a{
                color: #999;
            }
        }
    }
}
