#social_program #jeSwiper{
    border-radius: 12px;
    margin-right: 20px;
    height:346px;
    margin-bottom:180px;
        
    .sp_text{
        position: absolute;
        left:20px;
        bottom:10px;
        color:white;
        font-size: 30px;
    }

    .slide-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 검정색에 투명도 조절 */
    }

    .swiper-button-next,
    .swiper-button-prev{
        position: absolute;
        color: white;
        margin-top:120px;
            
           
            

    } 
    .swiper-button-prev{
                left:590px;
            } 
    .swiper-button-next::after, 
    .swiper-button-prev::after{
                font-size:2rem;
                }
            
}

    
    .box{
        border-radius: 12px;
        background-color:#B5C9FF;
        padding: 8px 0;
        margin-bottom:13px;  
            
            
    }
    .spNews{
        list-style: none;
    } 
            
    .libox{
     height:60px;
     margin-bottom:13px;
     background-color: #F7F8FA;
     border-radius: 12px;
     padding-right: 10px; 
                    
        .sp-text{
        font-size: 10px;
        }   
        .sp-style:hover{
        text-decoration: underline;
        }

    }
   

   








#form_tag{
    
    form{
        line-height: 200%;
        background-color: lightgray;
        margin-bottom: 180px;
        max-width: 1920px;
    
        .selectable {
            cursor: pointer;
            width:109px;
            height: 30px;
            align-items: center !important;
            // padding-bottom :1rem;
            border-radius: 30px;
            text-align: center !important;  
            
           
        }
        .selectable.selected {
            background-color: lightgray; /* 선택되었을 때의 배경색 */
            }

    


        .form_box{
            border-radius: 9px;
            background-color: white;
            margin:12px 20px;
            padding:15px;
            display: flex;
            
            .hourSelect_text{
                font-size:15px;
                font-weight: bold;
            }
            .forLabel{
            margin-right: 10px;  
            
                .for_input{
                    border: none;}
        }
        }
    
      

    }   
}

#app_download{
    position: relative;
    background-color: #6A92FE;
    padding: 3.7rem 0;
    #jeAppbanner{ 
   
        .app_come{
                font-weight: bold; 
                font-size:38px;
        
            }
            .app_come_first{
                font-size:28px;
            }
        
            .app_down{
                background-color: #FFFFFF;
                border-radius: 30px;
                width: 300px;
                height: 60px;
                align-items:center;
                justify-content: center;
                text-decoration: none;
                font-size: 24px;
                font-weight: bold;
            }
  

    
    }
    &:before {
        content:"";
        position:absolute;
        left:0;
        width: 300px;
        top: 0;
        bottom:0;
        background-repeat: no-repeat; 
        background-size: cover;
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
   
    }
 
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_animal.svg);
        background-repeat: no-repeat; 
        background-size: contain; 
        background-position: center;
    
    

    
   &:after {
        content:"";
       
        position:absolute;
        right:0px;
        width: 300px;
        top: 0;
        bottom:0px;
        background-size: 400px 300px;
        background-repeat: no-repeat;    
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
        transform:scaleX(-1)
    }

    
} 

   