#main_slide_je{
    padding-top:65px;
    #je_Mainswiper{

    background-color: #F7F8FA;
    height: 700px;
    // max-width:1920px;

 
    .mainbannerLeft{
    padding:160px 48px 84px 85px;
   }
   .mainbanner_Video,.main_back, .maincollabo{
        position: relative;
        border-radius: 350px 0 0 0;
        border: none;
        right:0;
        bottom:0;
        float: none;
        
    }

    
        .main_back{
        background-image: url('//hyunjiq.github.io//petopia/img/img_je/main_littledog.jpg');
        border-radius: 350px 0 0 0;
        border: none;
        background-size: contain; 
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        width: 1242px;
        height: 700px;
        box-sizing: border-box;
        }

  

    .mainbannerText_en{
        font-family: Quicksand;
        line-height: 70px;
        color:#3D71FF;
        font-weight: bold;
        font-size: 65px;
    }
    .mainbannerText_kr{
        font-family: Noto+Sans+KR;
        line-height: 23px;
        color:#3D71FF;
        font-size: 20px;

    }
    .mainbannerText{
        font-family: Noto+Sans+KR;
        line-height: 51px;
        font-weight: bold;
        color:#3D71FF;
        font-size: 48px;
    }
    .mainActing,.mainvideo{
        text-decoration: none;
        color:#ffff;
        background-color: #6A92FE;
        border-radius: 30px;
        padding: 1rem;
        width: 212px;
        height:58px;
    }
    .mainvideo{
        padding:1rem;
    }
    .mainbanner_text{
        font-family: Noto+Sans+KR;
        font-size: 16px;
        line-height: 19px;
        color: #666666;

    }

}}




#social_program {
    .sp_je {
        width: 700px;
    }

    #jeSwiper {
        border-radius: 12px;
        margin-right: 20px;
        height: 346px;
        margin-bottom: 180px;
    }

    .sp_text {
        position: absolute;
        left: 20px;
        bottom: 10px;
        color: white;
        font-size: 30px;
    }

    .slide-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 700px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 검정색에 투명도 조절 */
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        color: white;
        margin-top: 120px;
    }

    .swiper-button-prev {
        left: 590px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2rem;
    }
}

.box {
    border-radius: 12px;
    background-color: #b5c9ff;
    padding: 8px 0;
    margin-bottom: 13px;
}

.spNews {
    list-style: none;
}

.libox {
    height: 60px;
    margin-bottom: 13px;
    background-color: #f7f8fa;
    border-radius: 12px;
    padding-right: 10px;
}

.libox .sp-text {
    font-size: 10px;
}

.libox .sp-style:hover {
    text-decoration: underline;
}


#form_tag{

    height:868px;
    background-color: #D3DFFF;

    .form_img{
        position: relative;
        border-radius: 30px;
        border: none;
        width:100%;
    }
    .form_text{

        text-align: center;
    }
}





#app_download{
    position: relative;
    background-color: #6A92FE;
    padding: 3.7rem 0;
    
    #jeAppbanner{ 
   
        .app_come{
                font-weight: bold; 
                font-size:38px;
        
            }
            .app_come_first{
                font-size:28px;
            }
        
            .app_down{
                background-color: #FFFFFF;
                border-radius: 30px;
                width: 300px;
                height: 60px;
                align-items:center;
                justify-content: center;
                text-decoration: none;
                font-size: 24px;
                font-weight: bold;
            }
  

    
    }
    &:before {
        content:"";
        position:absolute;
        left:0;
        width: 300px;
        top: 0;
        bottom:0;
        background-repeat: no-repeat; 
        background-size: cover;
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
   
    }
 
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_animal.svg);
        background-repeat: no-repeat; 
        background-size: contain; 
        background-position: center;
    
    

    
   &:after {
        content:"";
       
        position:absolute;
        right:0px;
        width: 300px;
        top: 0;
        bottom:0px;
        background-size: 400px 300px;
        background-repeat: no-repeat;    
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
        transform:scaleX(-1)
    }


} 


.je_main1{
    z-index: 10001;
    border: 2px dotted white;
    width: 100px;
    height:50px;
    top:56%;
    left:5%;
 p{
    color: white;
    bottom:70%;
    font-size:1.5rem;
    width: 500px;
 }
}
.je_main2{
    z-index: 10001;
    border: 2px dotted white;
    width: 1242px;
    height:700px;
    top:7%;
    right:0;
 p{
    color: white;
    bottom:-7%;
    font-size:1.5rem;
    width: 500px;
 }
}
.je_app{
    z-index: 10001;
    border: 2px dotted white;
    width: 220px;
    height:50px;
    top:40%;
    right:18%;
 p{
    color: white;
    bottom:70%;
    font-size:1.5rem;
 }
}
.je_form1{
    z-index: 10001;
    border: 2px dotted white;
    width: 550px;
    height:500px;
    top:21%;
    left:5%;
 p{
    color: white;
    bottom: 97%;
    font-size:1.5rem;
 }
}
.je_form2{
    z-index: 10001;
    border: 2px dotted white;
    width: 550px;
    height:50px;
    top:48%;
    right:6%;
    font-size:1.5rem;
 p{
    color: white;
    bottom:-30%;
    right:-50%;
    font-size:1.5rem;
 }
}
.je_form3{
    z-index: 10001;
    border: 2px dotted white;
    width: 220px;
    height:50px;
    top:75%;
    right:19%;
 p{
    color: white;
    bottom:-101%;
    font-size:1.5rem;
 }
}
.je_form4{
    z-index: 10001;
    border: 2px dotted white;
    width: 220px;
    height:30px;
    bottom:-1%;
    left:2%;
 p{
    color: white;
    bottom:-171%;
    width:350px;
    font-size:1.5rem;
 }
}
.je_form5{
    z-index: 10001;
    border: 2px dotted white;
    width: 550px;
    height:120px;
    top:30%;
    right:6%;
 p{
    color: white;
    top:-71%;
    width:460px;
    font-size:1.5rem;
 }
}
.je_form6{
    z-index: 10001;
    border: 2px dotted white;
    width: 550px;
    height:50px;
    top:57%;
    right:6%;
 p{
    color: white;
    width:200px;
    bottom:-30%;
    right:-38%;
    font-size:1.5rem;
 }
}
.je_form7{
    z-index: 10001;
    border: 2px dotted white;
    width: 550px;
    height:50px;
    top:66%;
    right:6%;
 p{
    color: white;
    width:200px;
    bottom:-110%;
    right:-38%;
    font-size:1.5rem;
 }
}

.je_social1{
    z-index: 10001;
    border: 2px dotted white;
    width: 100px;
    height:40px;
    bottom:33%;
    left:44%;
 p{
    color: white;
    bottom:-220%;
    width:350px;
    font-size:1.5rem;
 }
}
.je_social2{
    z-index: 10001;
    border: 2px dotted white;
    width: 300px;
    height:300px;
    top:17%;
    right:13%;
 p{
    color: white;
    top:-10%;
    left:-20%;
    width:500px;
    font-size:1.5rem;
 }
}