$maincolor:#6a92fe;
$hovercolor : #2e313b;
$quickcolor: #3D71FF;
$bgcolor: #D3DFFF;
$lightgray:#f7f8fa;

#main_slide_sh{
   
    .swiper {
            width: 100%;
            height: 100%;
        .swiper-slide {
                    text-align: center;
                    font-size: 3rem;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        img {
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .slide_txt{
                                    line-height: 1;
                                    font-size: 4rem;
                                    text-align: start;
                                   }
                         }
                        .slide_txt_sm{
                            line-height: 1;
                            font-size: 1.3rem;
                            text-align: start;
                        }
    }
}

#main_service {
    li:hover{ 
        span {
            background-color: $hovercolor;
        }
    }

    img {
            border-radius: 12px 12px 0 0;
    }       
    .ms_div {
        text-align: center;
        color: white;
        background-color: #6a92fe;
        padding: 3rem;
        display: block;
        border-radius: 0 0 12px 12px;
    }
}
